# See http://help.github.com/ignore-files/ for more about ignoring files.
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.ionic/
.sourcemaps/
.versions/
/www/
temp/
platforms/
# check these to speed up ci build
# plugins/
# plugins/android.json
$RECYCLE.BIN/

UserInterfaceState.xcuserstate

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.angulardoc.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
