.title {
    padding-bottom: 0.75rem;
    .node {
        width: 3.125rem;
        padding: 0.5rem 0;
        margin-right: 1rem;
    }
    .status {
        font-size: 1.1875rem;
        text-transform: uppercase;
        font-weight: bold;
    }
}